# Node modules
node_modules/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# Build output
dist/
build/

# IDEs
.vscode/
.idea/

# Coverage reports
coverage/
